.navigation-bar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;

    color: rgba(0, 0, 0, 0.87);
    background-color: white;
    transition: all 500ms ease-out;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
    border-radius: 0px;
    z-index: 1100;
    width: 100%;
    padding-left: 24px;
    padding-right: 24px;
    display: flex;

    &.hide {
        transform: translateY(-599px);
        transition: all 500ms ease-in;
    }
}

