@import '~react-flexview/lib/flexView.css';

@import '~font-awesome/css/font-awesome.css';

@import './grid';
@import './select';
@import './navigationBar';

body {
    margin: 0;
    background-color: #efefef;    
    overflow: hidden;
    font-family: Roboto, sans-serif;
}

div#root {
    height: 100vh;
    overflow: auto;
    display: flex;
    flex: 1;
}

.make-it-card {
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
    border-radius: 2px;
    padding: 20px;
    background-color: #fff;

    &.animatable {
        transition: all 200ms;
    }
}

.no-padding {
    padding: 0;
}

.full-height {
    height: 100vh;
}

input:-webkit-autofill {
    box-shadow: 0 0 0 30px white inset;
    -webkit-box-shadow: 0 0 0 30px white inset;
    transition: background-color 5000s ease-in-out 0s;
}

.login-container {
    margin-top: -225px;
}


.react-datepicker-popper {
    z-index: 2;
}